body{
    margin: 0;
    padding: 0;
    background-color: #f7e6e6;
    font-family: Arial, Helvetica, sans-serif;
}

/* ------------header------------ */

header{
    text-align: center;
    color: black;
}

.navbar-collapse li{
    text-align: left;
    color: pink;
}

/* ------------header------------ *
/* ------------footer------------ */

footer{
 height: 100px;
 column-count: 3;
 column-gap: 300px;
 column-rule-style: solid;
 position: fixed; 
 top: 565px;
}

footer img{
 width: 130px;
 position: absolute; 
 top: 3px;
 right: 960px;
}

.socials{
    text-align: center;    
}

.socials li{
    display: inline;
}

.socials i{
    font-size: 200%;
    margin: 0.5%;
    padding: 0.1%;
    color: black;
}

.contact{
    text-align: right;
    position: absolute; 
    left: 1200px;
}
/* ------------footer------------ */ 
 /* ------------homepage image------------ */

.carousel-item {
    width: 650px;
    position: fixed;
    left: 350px;
}

/* ------------homepage image------------ */
/* ------------homepage text------------ */

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: larger;
  font-weight: bold;
}

.hero-text h2 {
  font-weight: bolder;
}

.hero-text p {
    padding: 20px;
}

p span{
    text-decoration: line-through;
} 

.hero-text button {
    color:black;
    background-color: greenyellow;
}

.hero-text button:hover {
    background-color: black;
    color: greenyellow;
}

/* ------------homepage text------------ */
/* ------------testimonials text------------ */

.testimonials_columns{
    column-count: 3;
    text-align: center;
}

.testimonials_columns p{
    margin: 50px 50px 10 50px;
    padding: 50px;
}

.testimonials_signup{
    text-align: center;
}

/* ------------testimonials text------------ */
/* ------------testimonials images------------ */

.man{
    border-radius: 40px;
    height: 200px;
    width: 300px;   
    box-shadow: 10px 10px 10px #ccc;
}

.woman1{
    border-radius: 40px;
    height: 200px;
    width: 300px;
    box-shadow: 10px 10px 10px #ccc;
}

.woman2{
    border-radius: 40px;
    height: 200px;
    width: 300px;
    box-shadow: 10px 10px 10px #ccc;
}

/* ------------testimonials images------------ */
/* ------------schedule image------------ */

.schedule_img{
    height: 440px;
    margin-bottom: 50px;
    width: 100%;
    border-style: solid;
    border-width: 20px;
    border-color: rgb(219, 0, 37);
}

/* ------------schedule image------------ */
/* ------------schedule text------------ */

.container{
    position: relative;
    text-align: center;
    color: black;
}

.mon{
    position: absolute;
    top: 80px;
    left: 100px;
    width: 200px;
    margin: 20px 50px 100px 10px;
    background-color:pink;
    border-radius: 50px;
    border-style: solid;
    border-color: rgb(219, 0, 37);
}

.wednes{
    position: absolute;
    top: 80px;
    left: 290px;
    width: 200px;
    margin: 20px 50px 100px 60px;
    background-color:pink;
    border-radius: 30px;
    border-style: solid;
    border-color: rgb(219, 0, 37);
}

.fri{
    position: absolute;
    top: 80px;
    right: 300px;
    width: 200px;
    margin: 20px 50px 100px 60px;
    background-color:pink;
    border-radius: 50px;
    border-style: solid;
    border-color: rgb(219, 0, 37);
}

.sun{
    position: absolute;
    top: 80px;
    right: 100px;
    width: 200px;
    margin: 20px 10px 100px 60px;
    background-color:pink;
    border-radius: 50px;
    border-style: solid;
    border-color: rgb(219, 0, 37);
}

.days ul{
    text-align: center;
    margin-right: 40px;
}

.days li{
    list-style-type: none;
}

.schedule_btn{
    position: absolute;
    bottom: 130px;
    right: 635px;
}

/* ------------schedule text------------ */
/* ------------about us image------------ */

.baker{
    border-radius: 100px;
    margin: auto 30px;
    height: 400px;
    width: 400px;
    float: left;
}

/* ------------about us image------------ */
/* ------------about us text------------ */

.head{
    font-weight: bold;
}
.para1{
    font-size: 14px;
    margin: auto 30px;
}

.para2{ 
    font-size: 14px;
    margin: auto 30px;
    text-align: right;
}

.para3{  
    font-size: 14px;
    margin: auto 30px; 
}

.about_btn{
    margin-top: 5px;
    margin-left: 840px;
}
/* ------------about us text------------ */
/* ------------signup form------------ */

button.btn {
    color:black;
    background-color: pink;
    border-color: rgb(223, 117, 134);
}

button.btn:hover {
   color: black;
   background-color: rgb(250, 85, 85);
   border-color: rgb(219, 0, 37);
}

button.btn:active {
   color: black;
   background-color: rgb(250, 85, 85);
   border-color: rgb(219, 0, 37);
}

button.btn:focus {
   color: black;
   background-color: rgb(250, 85, 85);
   border-color: rgb(219, 0, 37);
}
/* ------------signup form------------ */


/*----------------------- Removed Drafts-----------------------*/
/* 
#tabs{
    font-size: 110%;
    list-style-type: none; 
}

#tabs li{
    display: inline;  
    margin-right: 30px;    
}

a{
    color: black;
}

a:hover{
    color: red;
    text-decoration: none;
}

a:active {
    color: purple;
} 
*/
/*----------------------- Removed Drafts-----------------------*/