/* ------------header------------ */
h1{
    background-color: #FBAED2;
    color: #000000;
}
/* ------------header------------ */


/* ------------footer------------ */
.contact{
    float: right;
    background-color: #FBAED2;
}

.find{
 background-color: #FBAED2;
}

.social{
    width:200px; 
    height:200px; 
    position: fixed; 
    top: 110%; 
    left: 50%; 
    margin-top: -100px; 
    margin-left: -100px;
    background-color: #FBAED2;
}
/* ------------footer------------ */