
/* ------------header------------ */
h1{
    background-color: #FBAED2;
    color: #000000;
}
/* ------------header------------ */




/* ------------seciton------------ */
#carousel{
    width: 50%;
    background-size:cover;
}

p span{
    text-decoration: line-through;
}
/* ------------seciton------------ */




/* ------------footer------------ */


footer{
 height: 100px;
 background-color: #FBAED2;
 column-count: 3;
 column-gap: 40px;
 column-rule-style: solid;
}

.map{
  background-image: url("map.jpg");
  display: inline-block;
  position: relative;
  margin-right: 50px;
}

footer{
 

}

.socials{
    text-align: center;
    
}

.socials li{
    display: inline;
}

.socials i{
    font-size: 200%;
    margin: 0.5%;
    padding: 0.1%;
    color: black;
}

.contact{
    text-align: right;
}
/* ------------footer------------ */ 